# GEMINI_API_KEY: Required for Gemini AI API calls.
# GEMINI_API_KEY=MY_GEMINI_API_KEY

# SUPABASE_URL: URL of Supabase Project for Auth & Sync
SUPABASE_URL=https://dkzkjaiwmvlcjzkkzyum.supabase.co

# SUPABASE_ANON_KEY: Publishable/Anon API key of Supabase Project
SUPABASE_ANON_KEY=sb_publishable_5RSnFsuH331ygXw5SDPwcg_5MwlpdkN
